.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  .example-header-image {
    background-image: url('https://www.pngarts.com/files/11/Avatar-Transparent-Images.png');
    background-size: cover;
  }